.fonctionnement {
    padding: 20px 15px 30px 20px;
    &-menu {
        margin: 10px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    &-menu-button {
        position: relative;
        width: 95%;
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: #f6f6f6;
        border-radius: 20px;
        box-shadow:2px 7px 14px -8px rgba(0,0,0,0.75);
        padding: 10px;
        i {
            margin: 15px;
            color: #7e7e7e;
        }
    }
}

.position {
    display: flex;
    justify-content: center;
    position: absolute;
    left: -15px;
    background-color: #9356DC;
    border-radius: 50%;
    color: white;
    padding: 5px;
    width: 15px;
    p {
        position: absolute;
    }
}