.fonctionnement {
    margin: 10px;
    &-menu {
        margin: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &-menu-button {
        width: 80%;
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: #f6f6f6;
        border-radius: 20px;
        box-shadow:2px 7px 14px -8px rgba(0,0,0,0.75);
        margin: 15px;
        padding: 15px;
        i {
            margin: 15px;
            color: #7e7e7e;
        }
    }
}

.position {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 20px;
    background-color: #9356DC;
    border-radius: 50%;
    color: white;
    padding: 7px;
    width: 15px;
    p {
        position: absolute;
        left: 24px;
    }
}